<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Título de la página</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
</head>
<body>
    <div align="left" class="btn_crear mb-3">
        <!-- Usamos la etiqueta URL para generar la URL de la página de creación -->
        <a href="{% url 'crear' %}" type="button" class="btn btn-primary">Crear</a>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th width="35%">Titulo</th>
                <th>Autor</th>
                <th>Precio</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'postres' y los listamos -->
            {% for libros in object_list %}
            <tr>
                <td>{{ libros.titulo }}</td>
                <td>{{ libros.autor }}</td>
                <td>{{ libros.precio }}</td>
                <td>{{ libros.stock }}</td>
                    <!-- Usamos la etiqueta URL para generar las URLs de las páginas de Detalles, Edición y Eliminación -->
                    <a href="{% url 'detalles' libros.id %}" title="Ver" type="button" class="btn btn-success">Ver</a>
                    <a href="{% url 'actualizar' libros.id %}" title="Editar" type="button" class="btn btn-primary">Editar</a>
                    <form method="POST" action="{% url 'eliminar' libros.id %}">
                        {% csrf_token %}
                        <div class="btn-group">
                            <button class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este registro?');" type="submit">Eliminar</button>
                        </div>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div align="left" class="btn_crear mb-3">
        <!-- Usamos la etiqueta URL para generar la URL de la página de creación -->
        <a href="{% url 'crear' %}" type="button" class="btn btn-primary">Crear</a>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th width="35%">Nombre</th>
                <th>Nacionalidad</th>
                <th>Fecha nacimiento</th>
                <th>Biografia</th>
            </tr>
        </thead>
        <tbody>
            <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'postres' y los listamos -->
            {% for autores in object_list %}
            <tr>
                <td>{{ autores.nombre }}</td>
                <td>{{ autores.nacionalidad }}</td>
                <td>{{ autores.fecha_nacimiento }}</td>
                <td>{{ autores.biografia }}</td>
                    <!-- Usamos la etiqueta URL para generar las URLs de las páginas de Detalles, Edición y Eliminación -->
                    <a href="{% url 'detalles' autores.id %}" title="Ver" type="button" class="btn btn-success">Ver</a>
                    <a href="{% url 'actualizar' autores.id %}" title="Editar" type="button" class="btn btn-primary">Editar</a>
                    <form method="POST" action="{% url 'eliminar' autores.id %}">
                        {% csrf_token %}
                        <div class="btn-group">
                            <button class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este registro?');" type="submit">Eliminar</button>
                        </div>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>

